* {
  margin: 0;
  padding: 0;
}

canvas {
  /* position: fixed; */
  display: block;
}
#threeDToggleBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
#threeDOutlineBtn {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: none;
  cursor: pointer;
}
#bottomRightTaskBtn {
  position: absolute;
  top: 90px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: none;
  cursor: pointer;
}
#topLeftTaskBtn {
  position: absolute;
  top: 130px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: none;
  cursor: pointer;
}
#correctedWallTaskBtn {
  position: absolute;
  top: 170px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: none;
  cursor: pointer;
}
#wallWidth {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: block;
}
#wallWidth input {
  cursor: pointer;
  margin-left: 5px;
}
#wallWidth div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#alignments {
  position: absolute;
  top: 90px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: block;
}
#alignments label {
  cursor: pointer;
  margin-left: 10px;
  display: flex;
}
#alignments label input {
  cursor: pointer;
  margin-right: 2px;
}
#alignments div {
  display: flex;
}

#clearAllBtn {
  position: absolute;
  top: 130px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: block;
  cursor: pointer;
}
