* {
  margin: 0;
  padding: 0;
}

canvas {
  /* position: fixed; */
  display: block;
}
#threeDToggleBtn{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
#threeDOutlineBtn{
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  display: none;
  cursor: pointer;
}